html
	head
		title #{title}
	body
		script(src='http://code.jquery.com/jquery-1.9.1.js')
		script(src='/js/tasks_client.js')
		h1 #{title}
		table
			thead
				tr
					th Task number
					th Monster
					th Amount
					th Noteworthy drops
					th
			tbody
				- var i=0
				each task in tasks
					- i++
					tr
						td #{task.taskNumber}
						td #{task.taskName}
						td #{task.taskAmount}
						td #{task.taskNoteworthyDrop}
						td 
							button(id='btn_delete', onClick='on_delete(#{task._id})') Delete
				- i++
				tr
					td
					td
						input(id='taskName')
					td
						input(id='taskAmount')
					td
						input(id='taskNoteworthyDrop')
					td
						button(id='btn_add', onClick='on_add('+i+')') Add Task