html
	head
		title #{title}
	body
		script(src='/js/tasks_client.js')
		h1 #{title}
		table
			thead
				tr
					th Task number
					th Monster
					th Amount
					th Noteworthy drops
					th
			tbody
				- var i=1
				each task in tasks
					- i++
					tr
						td#tasknum
							value=(task.taskNumber)
						td#taskid
							value=(task._id)
						td#taskamt
							value=(task.amount)
						td#tasknwdrop
							value=(task.noteworthyDrop)
				- i++
					tr
						td
						td
							input(id='taskid')
						td
							input(id='taskamt')
						td
							input(id='tasknwdrop')
						td
							button(id='btn_add', onClick='on_add()') Add Task