html
	head
		title #{title}
		script(src='http://code.jquery.com/jquery-1.9.1.js')
		script(src='/js/tasks_client.js')
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')

	body
		h1(style='margin-left:5%; margin-top:1%') #{title}
		table.table.table-condensed.table-striped(style='max-width:50%; margin-left:15%')
			thead
				tr
					th Task number
					th Monster
					th Amount
					th Noteworthy drops
					th
			tbody
				- var i=0
				each task in tasks
					- i++
					tr
						td #{task.taskNumber}
						td #{task.taskName}
						td #{task.taskAmount}
						td #{task.taskNoteworthyDrop}
						td 
							button(id='btn_delete', onClick='on_delete(#{task._id})').btn Delete
				- i++
				tr
					td
					td
						input(id='taskName', type='text', placeholder='Monster').input-small
					td
						input(id='taskAmount', type='text', placeholder='Amount').input-small
					td
						input(id='taskNoteworthyDrop', type='text', placeholder='Drops').input-small
					td
						button(id='btn_add', onClick='on_add('+i+')').btn Add Task